body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}

.page1{
margin: -1;	
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("artwork.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}
h1 {
	position: relative;
	top: 220px;
	margin: 0;
	color: white;
	text-align: center;
	font-size: 10vw;
}
 h6 {
 	position: relative;
	top: 200px;
 	margin: 0;
 	color: white;
	text-align: center;
	font-size: 3vw;
}
h4 {
position: relative;
	top: 200px; 
	margin: 0;
	color: white;
	text-align: center;
	font-size: 6vw;
}


.page2 {
	margin-top: -35px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 2vw;
}

.page3 {
	margin: -1;
	margin-top: 10px;
	text-align: center;
	font-size: 3vw;
}

@media(max-width: 550px) {
	.page{
		background-image: url(artwork.gif);
		max-width: 550px;
	}

	.page3 {
	margin-top: 10px;
	text-align: center;
	font-size: 4vw;
	}

	h1 {
		font-size: 20vw;
	}

	h6 {
		font-size: 6vw;
	}
 	
 	h4 {
 		font-size: 10vw;
 	}




